.slide {
  background-image: linear-gradient(#E6F4FD, #9AD4F6);
}

.lasers {
  &:before {
    background-image: url(lasercat.jpg);
  }
  &:after {
    content: 'http://www.flickr.com/photos/taxifisch/13251951364/in';
  }
}

.stagecat {
  &:before {
    background-image: url(smashing_cat.jpg);
  }
  &:after {
    content: 'http://www.flickr.com/photos/marcthiele/13264903873/in';
  }
}